
body {
   font-family:Arial, Helvetica, sans-serif;
   FONT-SIZE: 15px;
   /*background-image: url('/mo/images/bg/bg3.png');*/
}
.portletBlue {
    COLOR: #0099ff;
    /*FONT-FAMILY: arial, helvetica, Verdana;*/
    FONT-SIZE: medium;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
}
.winletTitle {
    COLOR: #FFFFFF;
    /*FONT-FAMILY: arial, helvetica, Verdana;*/
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.portletTitle {
    COLOR: #333;
    /*FONT-FAMILY: Verdana, sans-serif;*/
    FONT-SIZE: 15px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    /*text-shadow: 1px 1px 2px #af8615;*/
    text-shadow: 1px 1px 1px #ffffff;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.textOrange12 {
    COLOR: #003366;
    /*FONT-FAMILY: arial, helvetica, sans-serif;*/
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlock11 {
    COLOR: black;
    /*FONT-FAMILY: arial, helvetica, sans-serif;*/
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
}
.textBlock12 {
    COLOR: black;
    /*FONT-FAMILY: arial, helvetica, sans-serif;*/
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
}
.textBlock16 {
    COLOR: #000000;
    /*FONT-FAMILY: arial, helvetica, sans-serif;*/
    FONT-SIZE: 18px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
}
.textBlock10Bold {
    COLOR: black;
    /*FONT-FAMILY: arial, helvetica, sans-serif;*/
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlock11Bold {
    COLOR: black;
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlock12Bold {
    COLOR: black;
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlock14Bold {
    COLOR: black;
    FONT-SIZE: 16px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlock16Bold {
    COLOR: black;
    FONT-SIZE: 18px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none;
    FONT-WEIGHT: bold;
}
.textBlueBold11 {
    COLOR: #0099ff;
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
.textBlueBold12 {
    COLOR: #0099ff;
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
.textBlue11 {
    COLOR: #0099ff;
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
}
.textBlue12 {
    COLOR: #0099ff;
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
}
.textErrorBold {
    COLOR: #dd0000;
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold
}
.textError {
    COLOR: #dd0000;
    FONT-SIZE: 13px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}
TD.infoBar {
    BACKGROUND: #afb6d3;
    COLOR: #ffffff;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
/*TD { FONT-SIZE: 13px; FONT-FAMILY: "arial"; color: #222222}*/

.boxlet {
	background-image: url("/images/bg/bg2.jpg");
    background-color: #dddddd; 
    border: 1px groove;
    color: #333333;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
	text-color: #FF6633;
    display: inline-block;
    font-size: 14px;
    font-weight: plain;
	border-radius: 5.5px;
	/*box-shadow: 2px 2px 1px grey;	*/	
}

HR {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
HR.gray { color: #aaaaaa; height: 1px; }
FORM { margin-top: 0px; margin-bottom: 0px; margin: 0px 0px 0px 0px; }
.desctext { FONT-SIZE: 9pt; FONT-FAMILY: "VERDANA,HELVETICA"; color: #333333 }

A.location:link {
        COLOR: #ff9900; TEXT-DECORATION: none; FONT-SIZE: 7pt; FONT-FAMILY: "verdana, arial, helvetica, sans-serif"
}
A.location:hover {
        COLOR: #3366cc; TEXT-DECORATION: underline;
}
A.location:visited {COLOR: #FFFFFF; TEXT-DECORATION: none}
A.winlink:link {
    border-bottom:1px groove #900;
    border-color: #777777;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #003366;
    TEXT-DECORATION: none
}
A.winlink:visited {
    border-bottom:1px groove #900;
    border-color: #777777;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #003366;
    TEXT-DECORATION: none
}
A.winlink:hover {color: #EB6706; border-bottom:1px double #900; border-color: #dd0000; cursor: hand; background-color: #ffffff; text-decoration: none}
A.graylink11:link {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.graylink11:hover {cursor: auto; color: #C0FFC0; background-color: #bbbbbb; text-decoration: none}
A.graylink11:visited {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.alink:link {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.alink:hover {
  border-bottom:1px groove #900;
  border-color: #dd0000;
  FONT-WEIGHT: bold;
  FONT-SIZE: 13px;
  background-color: #ffffff;
  TEXT-DECORATION: none
}
A.alink:visited {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}

P.indent {position: relative; top: -10px; left: 5px}
.menu {
	 FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu:link {
	 FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu:visited {
	 FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu:active {
	 FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu:hover {
	 FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0099ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}

a.button,a:visited.button {
        width:93px; height:20px;
        display:block; background-image: url(/images/bgbuttons/btn_blue.gif);
        text-decoration: none; background-repeat: no-repeat; padding-top:3px; padding-bottom:0px; padding-left:0px; padding-right:0px;
        font-family:verdana; font-weight:bold; text-align:center;color:#ffffff; font-size:11px;
}
a:hover.button {
        background-image: url(/images/bgbuttons/btn_blue_hover.gif);
        text-decoration: none; color:black;
}
a.button2, a:visited.button2{
  display: block;font-family:Verdana; font-weight:bold;text-align:center;color:#ff9900;width:130px;height:15px; background-color:transparent;
  background-image: url(/images/bgbuttons/but-bg.png);text-decoration: none;padding:4px;font-size:12px;
}
a:hover.button2{
  display: block;background-color:transparent;background-image: url(/images/bgbuttons/but-hover.png);
}

DIV.btnlink {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 0px solid; BACKGROUND-COLOR: #bfdef5; TEXT-ALIGN: right
}
DIV.btnlink UL {
	CLEAR: none; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
DIV.btnlink UL LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(/images/blink/button-left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.btnlink UL LI A, DIV.btnlink UL LI A:visited {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; 
	/*FONT-FAMILY: verdana,sans-serif; */
	BACKGROUND: url(/images/blink/button-right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 5px; COLOR: #25558d; PADDING-TOP: 4px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.btnlink UL LI A:hover {
	TEXT-DECORATION: none; COLOR: #FF6600;
}

::placeholder { color: #cccccc; opacity: 1; }
.textfieldL {
    background-color: #ffffff; 
    border: 1px solid;
    color: #555555;
    padding: 8px 8px;
    text-align: left;
    text-decoration: none;
	font-weight: bold;
    display: inline-block;
    font-size: 18px;
	border-radius: 6px;
}
.textfieldM {
    background-color: #ffffff; 
    border: 1px solid;
    color: #555555;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
	font-weight: bold;
    display: inline-block;
    font-size: 15px;
	border-radius: 4px;
}
.textfieldS {
    background-color: #ffffff; 
    border: 1px solid;
    color: #555555;
    padding: 3px 3px;
    text-align: left;
    text-decoration: none;
	font-weight: bold;
    display: inline-block;
    font-size: 12px;
	border-radius: 3px;
}
/*
input[type=checkbox] + label {
  color: #555555;
  font-weight: bold;
  font-style: normal;
  font-size: 16px; 
}
input[type=checkbox]:checked + label {
  color: #FF6633;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}*/
input.sizeM {
  width: 	17px;
  height: 	17px;
}

p.pblock {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 140%;
  font-size: 110%;
}

.dropdownS {
        height: 29px;
        border: 1px solid #999;
        font-size: 15px;
        /*color: #1c87c9;
        background-color: #eee;*/
        border-radius: 5px;
        box-shadow: 1px 1px #ccc;
        padding: .2em 0.4em .3em .6em;
}
.dropdownM {     
        height: 39px;
        border: 1px solid #999;
        font-size: 19px;
        border-radius: 6px;
        box-shadow: 1px 1px #ccc;
        padding: .2em 0.4em .3em .6em;
}


.ihomeT2b {
    COLOR: #333333;
    FONT-SIZE: 36px;
}

.ihomeT3b { 
    COLOR: #1f91c7;
    FONT-SIZE: 26px;
}

.ihomeDes2 {
    COLOR: #FF6633;
    FONT-SIZE: 25px;
}

.ihomeDes3 {
    COLOR: #FF6633;
    FONT-SIZE: 20px;
}

.ihomeFont1 {
    COLOR: #555555;
    FONT-SIZE: 22px;
}

.ihomeFont2 {
    COLOR: #555555;
    FONT-SIZE: 15px;
}

.ihomeFont3 {
    COLOR: #555555;
    FONT-SIZE: 16px;
}

.ihomeTop {
    COLOR: #FF6633;
    FONT-SIZE: 13px;
}

.ihomeButton {
    /*background-color: #1f91c7; #ff9966;#ff9966; */
    background: transparent;
    /*border: 1.5px dashed;*/
    border: 1.0px solid;
    color: #cccccc;   
    padding: 11px 10px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #ffffff;
	font-weight: plain;
    display: inline-block;
    font-size: 15px;
	border-radius: 6px;
}
.ihomeButtonBG {
	background-color: #1f91c7; 
	border: 1px solid;
	color: #FFFFFF; 
	text-decoration-color: #ffffff;  
}
.ihomeButton a:link{ text-decoration: none;  text-decoration-color: #ffffff; }
.ihomeButton a:visited{ text-decoration: none; text-decoration-color: #ffffff;  }
.ihomeButton:hover { background: #ddaa99; cursor: pointer;}

.buttonR {
    background-color: #ff9966;
    border: 1px solid;
    color: #ffffff;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
	font-weight: plain;
    display: inline-block;
    font-size: 16px;
	border-radius: 10px;
}
.buttonR a:link{  text-decoration: none; color: white; }
.buttonR a:visited{  text-decoration: none; color: white;}
.buttonR:hover { background: #ddaa99; cursor: pointer;}

.buttonM {
    background-color: #ff9966;
    border: 1px solid;
    color: #ffffff;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
	font-weight: plain;
    display: inline-block;
    font-size: 15px;
	border-radius: 8px;
}
.buttonM a:link{  text-decoration: none; color: #ffffff; }
.buttonM a:visited{  text-decoration: none; color: #ffffff;}
.buttonM:hover { background: #ddaa99; cursor: pointer;}

.buttonX {
    background-color: #fcba03;
    border: 1px solid;
    color: #ffffff;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
	font-weight: plain;
    display: inline-block;
    font-size: 18px;
	border-radius: 25px;
}
.buttonX a:link{  text-decoration: none; color: #ffffff; }
.buttonX a:visited{  text-decoration: none; color: #ffffff;}
.buttonX:hover { background: #fcad03; cursor: pointer; border: 0.5px dotted;}

.buttonB {
    background-color: #0d75ac;
    border: 1px solid;
    color: #ffffff;
    padding: 12px 38px;
    text-align: center;
    text-decoration: none;
	font-weight: plain;
    display: inline-block;
    font-size: 15px;
	border-radius: 28px;
}
.buttonB a:link{  text-decoration: none; color: #ffffff; }
.buttonB a:visited{  text-decoration: none; color: #ffffff;}
.buttonB:hover { background: #ddaa99; cursor: pointer;}

.buttonS {
    background-color: #ff9966;
    border: 1px solid;
    color: #ffffff;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
	font-weight: plain;
    display: inline-block;
    font-size: 12px;
	border-radius: 6px;
}
.buttonS a:link{  text-decoration: none; color: #ffffff; }
.buttonS a:visited{  text-decoration: none; color: #ffffff;}
.buttonS:hover { background: #ddaa99; cursor: pointer;}

.btnBlue {
	background-color: #0d75ac;
}

.buttonG {
    background-color: #ebf7fa;
    border: 1px solid;
    color: #2989a3;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
	font-weight: bold;
    display: inline-block;
    font-size: 11px;
	border-radius: 3px;
}
.buttonG a:link{  text-decoration: none; color: #ffffff; }
.buttonG a:visited{  text-decoration: none; color: #ffffff;}
.buttonG:hover { background: #ddaa99; cursor: pointer;}

.sect {
	/*background-image: url("/images/bg/bg6.jpg");
    background-color: #ffffff; */
    border: none;
    color: #ffffff;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
	text-color: #FF6633;
    display: inline-block;
    font-size: 30px;
	border-radius: 8px;
}

.service {
	background-image: url("/images/bg/bg2.jpg");
    background-color: #dddddd; 
    border: 1px groove;
    color: #333333;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
	text-color: #FF6633;
    display: inline-block;
    font-size: 14px;
    font-weight: plain;
	border-radius: 1.5px;
	/*box-shadow: 2px 2px 1px grey;	*/
}
.service:hover {cursor: pointer; 
				border: 2px solid;
				box-shadow: 2px 2px 1px grey;}

.ihomeTopBar {
	background-image: url("/images/bg/bg2.jpg");
	/*background: transparent;
    background-color: #fcfcf0; */
    border: 0.8px solid;
    color: #000000;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
	border-radius: 7px;
	border-color: #dddddd;
}
.ihomeTopBar a:link{  text-decoration: none; color: #005392; }
.ihomeTopBar:hover {border: 1.5px groove; background-image: url("/images/bg/bg6.jpg");}
.ihomeTopBarLogin { border: 1px groove; 
					background-image: url("/images/bg/bg2.jpg"); 
}

.ihomeHr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.memButton {
    /*background-image: url("/images/bg/gradient.gif");*/
    background-color: #fcfcf0; 
    border: 1px;
    border-color: #ff0000;
    color: #FF6633;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    display: inline-block;
    font-size: 13px;
	border-radius: 6px;
	text-color: #FF6633;
}
.memButton a:link{ color: #ffffff; text-decoration: none; }
.memButton:hover {
   /*background-image: url("/images/bg/bg3.jpg");*/
   background-color: #ddaa99;
}

.signButton {
	padding: 4px 8px;
	font-size: 14px;
}

a { text-decoration: none; }


.btn-primary{
  background-color: #0d75ac;
  outline: thin solid;
  border: 1px solid transparent;
}

.btn-sm-primary{
  background-color: #0d75ac;
  outline: thin solid;
  border: 1px solid transparent;
}

